body {
    	background-color: #232323;
    	font-family: 'Roboto', sans-serif;
    	color: #ffffff;
}

.jumbotron {
	background-image: url(aston.jpg);
	background-size: cover;
	background-position: center;
	height: 92vh;
	display: flex;
  	align-items: center;
}

.jumbo-text {
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 10px;
}

a {
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	color: #adadad;
	text-decoration: none;
}